.background {
    background: center no-repeat url(manuel.png);
}

.logo {
    background-image: url(gonzalo.png);
}

.progressBar {
    background-color: rgb(238, 255, 65);
}

.splash {
    background-image: url(manuel.png);
}

.watermark {
    background-image: url(gonzalo.png);
    background-size: 57px 57px;
}
