.background {
    background: center no-repeat url(https://raw.githubusercontent.com/gamb0a/teletube-styled-media-receiver/master/manuel.png);
}

.logo {
    background-image: url(https://raw.githubusercontent.com/gamb0a/teletube-styled-media-receiver/master/gonzalo.png);
}

.progressBar {
    background-color: rgb(238, 255, 65);
}

.splash {
    background-image: url(https://raw.githubusercontent.com/gamb0a/teletube-styled-media-receiver/master/manuel.png);
}

.watermark {
    background-image: url(https://raw.githubusercontent.com/gamb0a/teletube-styled-media-receiver/master/gonzalo.png);
    background-size: 57px 57px;
}
